<% random_names = ["Adam", "George", "Sam"] %>
<h1> Greetings, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %> times.</p>

<p><%= link_to "Google", "https://www.google.com" %></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>