<h1>Searching for - <%= @search_term %></h1>

<% if @courses.nil? %>

	<p>No courses found with relevant info... Sorry</p>

<% else %>

	<table border='1'>

		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>

		<tbody>
			<% @courses.each do |course| %>
				<tr class=<%= cycle('even', 'odd') %>>
					<td><%= image_tag(course["smallIcon"]) %></td>
					<td><%= course["name"] %></td>
					<td><%= course["shortDescription"] %></td>
				</tr>
			<% end %>
		</tbody>

	</table>

<% end %>

<p style="color: #9c1628"><b>Note:</b> Use the parameter <i>looking_for</i> to change the search parameter. Example: <span style="font-family: monospace">https://coursera-rails.herokuapp.com/?looking_for=ruby</span></p>
<p>An app by <b>Shubham Gupta</b></p>